* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #0a0f24, #1c2341);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.wrapper {
    text-align: center;
    width: 100%;
    max-width: 450px;
}

.title {
    color: #fff;
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: 600;
}

.subtitle {
    color: #a8b3ff;
    margin-bottom: 25px;
}

.glass-card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0,0,0,0.35);
}

.label {
    color: #e3e8ff;
    font-size: 14px;
    display: block;
    margin-top: 12px;
    text-align: left;
}

.input {
    width: 100%;
    padding: 12px;
    background: rgba(255, 255, 255, 0.12);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}

.input::file-selector-button {
    background: #4752f5;
    padding: 8px 15px;
    border: none;
    border-radius: 7px;
    color: white;
}

.btn {
    width: 100%;
    margin-top: 18px;
    padding: 14px;
    background: #5865f2;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #4752f5;
    transform: translateY(-2px);
}

/* SUCCESS POPUP */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px 35px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    text-align: center;
    display: none;
    z-index: 9999;
    animation: popIn 0.4s ease;
}

@keyframes popIn {
    from { transform: scale(0.7) translate(-50%, -50%); opacity: 0; }
    to { transform: scale(1) translate(-50%, -50%); opacity: 1; }
}

.popup h3 {
    margin-bottom: 6px;
}




























.btn-secondary {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    background: rgba(255,255,255,0.18);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 12px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s;
}

.btn-secondary:hover {
    background: rgba(255,255,255,0.28);
    transform: translateY(-2px);
}











.fancy-select option {
    background: rgba(255,255,255,0.95);
    color: #000;
    padding: 10px;
    border: 0;
}

.fancy-select option:checked,
.fancy-select option:hover {
    background: #e2e6ff;
    color: #000;
}










